node_modules
src
.coverage
.vscode
.git
.github
.babelrc
.coveralls.yml
.editorconfig
.eslintignore
.eslintrc
.gitignore
.travis.yml
__mocks__
rollup.config.js
jestconfig.json
jest.config.js
jsconfig.json
yarn-error.log
yarn.lock
CONTRIBUTING.md
!lib
